[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = ndduyminh1
	email = 47764235+ndduyminh1@users.noreply.github.com
[core]
	editor = 'C:\\Users\\ndduy\\AppData\\Local\\atom\\app-1.34.0\\atom.exe' --wait
